In [551]:
import pandas as pd
import numpy as np

In [552]:
data = pd.read_csv("atik-su-aritma-tesisinde-uretilen-elektrik-enerjisi-miktari-eski.csv")

In [553]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   tarih        41 non-null     object
 1   deger_(kwh)  41 non-null     float64
dtypes: float64(1), object(1)
memory usage: 788.0+ bytes

In [554]:
data.head()

        tarih  deger_(kwh)
0  2015-01-31    611232.00
1  2015-02-28    615826.00
2  2015-03-31    957527.00
3  2015-04-30    920036.54
4  2015-05-31    928773.29

In [555]:
data.rename(columns={"tarih" : "bitis_tarihi"}, inplace=True)

In [556]:
data["baslangic_tarihi"] = data["bitis_tarihi"].copy()

In [557]:
yeni_sutunlar = ["baslangic_tarihi", "bitis_tarihi", "deger_(kwh)"]

In [558]:
data = data[yeni_sutunlar]

In [559]:
data["baslangic_tarihi"] = data["baslangic_tarihi"].apply(lambda x: x[:-2] + "01")

In [560]:
data["baslangic_tarihi"] = pd.to_datetime(data["baslangic_tarihi"], format= "%Y-%m-%d")
data["bitis_tarihi"] = pd.to_datetime(data["bitis_tarihi"], format= "%Y-%m-%d")

In [561]:
type(data["bitis_tarihi"][0])
type(data["baslangic_tarihi"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [562]:
data["deger_(kwh)"] = data["deger_(kwh)"].astype(str)

In [563]:
data["deger_(kwh)"]

0      611232.0
1      615826.0
2      957527.0
3     920036.54
4     928773.29
5     738623.36
6     803861.06
7     948642.02
8     755666.52
9      752889.0
10     795276.7
11    674220.53
12    519189.75
13    471734.36
14    663517.23
15    663109.68
16    693536.24
17    597641.51
18    550308.16
19    474594.79
20     738287.5
21    6196131.0
22    5447826.0
23    8876367.0
24     864165.0
25     697659.0
26     907365.0
27     738304.0
28     724670.0
29     680726.0
30     308717.0
31     697879.4
32     562325.5
33     842588.1
34     988507.8
35    1133366.4
36     582829.0
37     387462.0
38     361152.0
39     308616.0
40      68434.0
Name: deger_(kwh), dtype: object

In [564]:
for i  in range(0,41):
    if data["deger_(kwh)"][i].endswith(".0"):
        data["deger_(kwh)"][i] = int(data["deger_(kwh)"][i][:-2])
    else:
        data["deger_(kwh)"][i]= float(data["deger_(kwh)"][i])

/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_17933/2229466554.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["deger_(kwh)"][i] = int(data["deger_(kwh)"][i][:-2])
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_17933/2229466554.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["deger_(kwh)"][i]= float(data["deger_(kwh)"][i])

In [565]:
data["deger_(kwh)"]

0        611232
1        615826
2        957527
3     920036.54
4     928773.29
5     738623.36
6     803861.06
7     948642.02
8     755666.52
9        752889
10     795276.7
11    674220.53
12    519189.75
13    471734.36
14    663517.23
15    663109.68
16    693536.24
17    597641.51
18    550308.16
19    474594.79
20     738287.5
21      6196131
22      5447826
23      8876367
24       864165
25       697659
26       907365
27       738304
28       724670
29       680726
30       308717
31     697879.4
32     562325.5
33     842588.1
34     988507.8
35    1133366.4
36       582829
37       387462
38       361152
39       308616
40        68434
Name: deger_(kwh), dtype: object

In [566]:
type(data["deger_(kwh)"][0])

int

In [567]:
type(data["deger_(kwh)"][20])

float

In [568]:
data

   baslangic_tarihi bitis_tarihi deger_(kwh)
0        2015-01-01   2015-01-31      611232
1        2015-02-01   2015-02-28      615826
2        2015-03-01   2015-03-31      957527
3        2015-04-01   2015-04-30   920036.54
4        2015-05-01   2015-05-31   928773.29
5        2015-06-01   2015-06-30   738623.36
6        2015-07-01   2015-07-31   803861.06
7        2015-08-01   2015-08-31   948642.02
8        2015-09-01   2015-09-30   755666.52
9        2015-10-01   2015-10-31      752889
10       2015-11-01   2015-11-30    795276.7
11       2015-12-01   2015-12-31   674220.53
12       2016-01-01   2016-01-31   519189.75
13       2016-02-01   2016-02-29   471734.36
14       2016-03-01   2016-03-31   663517.23
15       2016-04-01   2016-04-30   663109.68
16       2016-05-01   2016-05-31   693536.24
17       2016-06-01   2016-06-30   597641.51
18       2016-07-01   2016-07-31   550308.16
19       2016-08-01   2016-08-31   474594.79
20       2016-09-01   2016-09-30    738287.5
21       2016-10-01   2016-10-31     6196131
22       2016-11-01   2016-11-30     5447826
23       2016-12-01   2016-12-31     8876367
24       2017-01-01   2017-01-31      864165
25       2017-02-01   2017-02-28      697659
26       2017-03-01   2017-03-31      907365
27       2017-04-01   2017-04-30      738304
28       2017-05-01   2017-05-31      724670
29       2017-06-01   2017-06-30      680726
30       2017-07-01   2017-07-31      308717
31       2017-08-01   2017-08-31    697879.4
32       2017-09-01   2017-09-30    562325.5
33       2017-10-01   2017-10-31    842588.1
34       2017-11-01   2017-11-30    988507.8
35       2017-12-01   2017-12-31   1133366.4
36       2018-01-01   2018-01-31      582829
37       2018-02-01   2018-02-28      387462
38       2018-03-01   2018-03-31      361152
39       2018-04-01   2018-04-30      308616
40       2018-05-01   2018-05-31       68434

In [569]:
data.to_csv("/Users/o/Desktop/acik-veri-calismalari/atik-su-aritma-tesisinde-uretilen-elektrik-enerjisi-miktari/atik-su-aritma-tesisinde-uretilen-elektrik-enerjisi-miktari.csv", index=False, header=True)
data.to_excel("/Users/o/Desktop/acik-veri-calismalari/atik-su-aritma-tesisinde-uretilen-elektrik-enerjisi-miktari/atik-su-aritma-tesisinde-uretilen-elektrik-enerjisi-miktari.xlsx", index=False, header=True)