In [88]:
import pandas as pd
import numpy as np

In [89]:
data = pd.read_csv("komek-kayit-sayilar-temizlenmemis-veri.csv")

In [90]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   _id              20 non-null     int64
 1   yil              20 non-null     object
 2   kursiyer_sayisi  19 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 612.0+ bytes

In [91]:
data.head(5)

   _id   yil  kursiyer_sayisi
0    1  2004            3.801
1    2  2005            5.558
2    3  2006           12.837
3    4  2007           16.634
4    5  2008           18.304

In [92]:
data.drop(columns="_id", axis=0, inplace=True)

In [93]:
data.drop(index=18, inplace=True)
data.drop(index=19, inplace=True)

In [94]:
data

     yil  kursiyer_sayisi
0   2004            3.801
1   2005            5.558
2   2006           12.837
3   2007           16.634
4   2008           18.304
5   2009           14.703
6   2010           15.532
7   2011           25.426
8   2012           29.195
9   2013           36.779
10  2014           56.972
11  2015           80.099
12  2016           95.384
13  2017          100.903
14  2018          142.424
15  2019          152.025
16  2020           93.017
17  2021           13.994

In [95]:
data["kursiyer_sayisi"] = data["kursiyer_sayisi"].astype(str).str.replace(".", "")

/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_14108/622584640.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["kursiyer_sayisi"] = data["kursiyer_sayisi"].astype(str).str.replace(".", "")

In [96]:
data.head()

    yil kursiyer_sayisi
0  2004            3801
1  2005            5558
2  2006           12837
3  2007           16634
4  2008           18304

In [97]:
data["yil"] = data["yil"].astype(int)

In [98]:
veri2004 = data[data["yil"] == 2004]
veri2005 = data[data["yil"] == 2005]
veri2006 = data[data["yil"] == 2006]
veri2007 = data[data["yil"] == 2007]
veri2008 = data[data["yil"] == 2008]
veri2009 = data[data["yil"] == 2009]
veri2010 = data[data["yil"] == 2010]
veri2011 = data[data["yil"] == 2011]
veri2012 = data[data["yil"] == 2012]
veri2013 = data[data["yil"] == 2013]
veri2014 = data[data["yil"] == 2014]
veri2015 = data[data["yil"] == 2015]
veri2016 = data[data["yil"] == 2016]
veri2017 = data[data["yil"] == 2017]
veri2018 = data[data["yil"] == 2018]
veri2019 = data[data["yil"] == 2019]
veri2020 = data[data["yil"] == 2020]
veri2021 = data[data["yil"] == 2021]

In [99]:
veri2004.drop(columns="yil", inplace=True)
veri2005.drop(columns="yil", inplace=True)
veri2006.drop(columns="yil", inplace=True)
veri2007.drop(columns="yil", inplace=True)
veri2008.drop(columns="yil", inplace=True)
veri2009.drop(columns="yil", inplace=True)
veri2010.drop(columns="yil", inplace=True)
veri2011.drop(columns="yil", inplace=True)
veri2012.drop(columns="yil", inplace=True)
veri2013.drop(columns="yil", inplace=True)
veri2014.drop(columns="yil", inplace=True)
veri2015.drop(columns="yil", inplace=True)
veri2016.drop(columns="yil", inplace=True)
veri2017.drop(columns="yil", inplace=True)
veri2018.drop(columns="yil", inplace=True)
veri2019.drop(columns="yil", inplace=True)
veri2020.drop(columns="yil", inplace=True)
veri2021.drop(columns="yil", inplace=True)

/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_14108/1528951942.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri2004.drop(columns="yil", inplace=True)
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_14108/1528951942.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri2005.drop(columns="yil", inplace=True)
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_14108/1528951942.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri2006.drop(columns="yil", inplace=True)
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_14108/1528951942.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri2007.drop(columns="yil", inplace=True)
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_14108/1528951942.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri2008.drop(columns="yil", inplace=True)
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_14108/1528951942.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri2009.drop(columns="yil", inplace=True)
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_14108/1528951942.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri2010.drop(columns="yil", inplace=True)
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_14108/1528951942.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri2011.drop(columns="yil", inplace=True)
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_14108/1528951942.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri2012.drop(columns="yil", inplace=True)
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_14108/1528951942.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri2013.drop(columns="yil", inplace=True)
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_14108/1528951942.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri2014.drop(columns="yil", inplace=True)
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_14108/1528951942.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri2015.drop(columns="yil", inplace=True)
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_14108/1528951942.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri2016.drop(columns="yil", inplace=True)
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_14108/1528951942.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri2017.drop(columns="yil", inplace=True)
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_14108/1528951942.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri2018.drop(columns="yil", inplace=True)
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_14108/1528951942.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri2019.drop(columns="yil", inplace=True)
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_14108/1528951942.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri2020.drop(columns="yil", inplace=True)
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_14108/1528951942.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri2021.drop(columns="yil", inplace=True)

In [100]:
veri2021

   kursiyer_sayisi
17           13994

In [101]:
veri2004.to_csv("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2004-komek-kursiyer-sayilari.csv", index=False, header=True)
veri2004.to_excel("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2004-komek-kursiyer-sayilari.xlsx", index=False, header=True)

In [102]:
veri2005.to_csv("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2005-komek-kursiyer-sayilari.csv", index=False, header=True)
veri2005.to_excel("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2005-komek-kursiyer-sayilari.xlsx", index=False, header=True)

In [103]:
veri2006.to_csv("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2006-komek-kursiyer-sayilari.csv", index=False, header=True)
veri2006.to_excel("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2006-komek-kursiyer-sayilari.xlsx", index=False, header=True)

In [104]:
veri2007.to_csv("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2007-komek-kursiyer-sayilari.csv", index=False, header=True)
veri2007.to_excel("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2007-komek-kursiyer-sayilari.xlsx", index=False, header=True)

In [105]:
veri2008.to_csv("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2008-komek-kursiyer-sayilari.csv", index=False, header=True)
veri2008.to_excel("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2008-komek-kursiyer-sayilari.xlsx", index=False, header=True)

In [106]:
veri2009.to_csv("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2009-komek-kursiyer-sayilari.csv", index=False, header=True)
veri2009.to_excel("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2009-komek-kursiyer-sayilari.xlsx", index=False, header=True)

In [107]:
veri2010.to_csv("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2010-komek-kursiyer-sayilari.csv", index=False, header=True)
veri2010.to_excel("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2010-komek-kursiyer-sayilari.xlsx", index=False, header=True)

In [108]:
veri2011.to_csv("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2011-komek-kursiyer-sayilari.csv", index=False, header=True)
veri2011.to_excel("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2011-komek-kursiyer-sayilari.xlsx", index=False, header=True)

In [109]:
veri2012.to_csv("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2012-komek-kursiyer-sayilari.csv", index=False, header=True)
veri2012.to_excel("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2012-komek-kursiyer-sayilari.xlsx", index=False, header=True)

In [110]:
veri2013.to_csv("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2013-komek-kursiyer-sayilari.csv", index=False, header=True)
veri2013.to_excel("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2013-komek-kursiyer-sayilari.xlsx", index=False, header=True)

In [111]:
veri2014.to_csv("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2014-komek-kursiyer-sayilari.csv", index=False, header=True)
veri2014.to_excel("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2014-komek-kursiyer-sayilari.xlsx", index=False, header=True)

In [112]:
veri2015.to_csv("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2015-komek-kursiyer-sayilari.csv", index=False, header=True)
veri2015.to_excel("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2015-komek-kursiyer-sayilari.xlsx", index=False, header=True)

In [113]:
veri2016.to_csv("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2016-komek-kursiyer-sayilari.csv", index=False, header=True)
veri2016.to_excel("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2016-komek-kursiyer-sayilari.xlsx", index=False, header=True)

In [114]:
veri2017.to_csv("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2017-komek-kursiyer-sayilari.csv", index=False, header=True)
veri2017.to_excel("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2017-komek-kursiyer-sayilari.xlsx", index=False, header=True)

In [115]:
veri2018.to_csv("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2018-komek-kursiyer-sayilari.csv", index=False, header=True)
veri2018.to_excel("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2018-komek-kursiyer-sayilari.xlsx", index=False, header=True)

In [116]:
veri2019.to_csv("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2019-komek-kursiyer-sayilari.csv", index=False, header=True)
veri2019.to_excel("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2019-komek-kursiyer-sayilari.xlsx", index=False, header=True)

In [117]:
veri2021.to_csv("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2021-komek-kursiyer-sayilari.csv", index=False, header=True)
veri2021.to_excel("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2021-komek-kursiyer-sayilari.xlsx", index=False, header=True)

In [118]:
veri2020.to_csv("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2020-komek-kursiyer-sayilari.csv", index=False, header=True)
veri2020.to_excel("/Users/o/Desktop/acik-veri-calismalari/komek-kursiyer-sayilari/2020-komek-kursiyer-sayilari.xlsx", index=False, header=True)