In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("komek-kayit-sayilar-temizlenmemis-veri.csv")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   _id              20 non-null     int64
 1   yil              20 non-null     object
 2   kursiyer_sayisi  19 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 612.0+ bytes

In [5]:
data.head(5)

   _id   yil  kursiyer_sayisi
0    1  2004            3.801
1    2  2005            5.558
2    3  2006           12.837
3    4  2007           16.634
4    5  2008           18.304

In [6]:
data.drop(columns="_id", axis=0, inplace=True)

In [7]:
data.drop(index=18, inplace=True)
data.drop(index=19, inplace=True)

In [8]:
data

     yil  kursiyer_sayisi
0   2004            3.801
1   2005            5.558
2   2006           12.837
3   2007           16.634
4   2008           18.304
5   2009           14.703
6   2010           15.532
7   2011           25.426
8   2012           29.195
9   2013           36.779
10  2014           56.972
11  2015           80.099
12  2016           95.384
13  2017          100.903
14  2018          142.424
15  2019          152.025
16  2020           93.017
17  2021           13.994

In [9]:
data["kursiyer_sayisi"] = data["kursiyer_sayisi"].astype(str).str.replace(".", "")

/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_6476/622584640.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["kursiyer_sayisi"] = data["kursiyer_sayisi"].astype(str).str.replace(".", "")

In [10]:
data.head()

    yil kursiyer_sayisi
0  2004            3801
1  2005            5558
2  2006           12837
3  2007           16634
4  2008           18304

In [11]:
data

     yil kursiyer_sayisi
0   2004            3801
1   2005            5558
2   2006           12837
3   2007           16634
4   2008           18304
5   2009           14703
6   2010           15532
7   2011           25426
8   2012           29195
9   2013           36779
10  2014           56972
11  2015           80099
12  2016           95384
13  2017          100903
14  2018          142424
15  2019          152025
16  2020           93017
17  2021           13994

In [12]:
data.to_csv("/Users/o/Desktop/staj/kolay veriler/komek-kursiyer-sayilari/komek-kursiyer-sayilari.csv")
data.to_excel("/Users/o/Desktop/staj/kolay veriler/komek-kursiyer-sayilari/komek-kursiyer-sayilari.xlsx")

OSError: Cannot save file into a non-existent directory: '/Users/o/Desktop/staj/kolay veriler/komek-kursiyer-sayilari'