In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("komek-kayit-sayilari-eski.csv")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   yil              18 non-null     object
 1   kursiyer_sayisi  18 non-null     int64
dtypes: int64(1), object(1)
memory usage: 420.0+ bytes

In [5]:
data

           yil  kursiyer_sayisi
0   2004-01-01             3801
1   2005-01-01             5558
2   2006-01-01            12837
3   2007-01-01            16634
4   2008-01-01            18304
5   2009-01-01            14703
6   2010-01-01            15532
7   2011-01-01            25426
8   2012-01-01            29195
9   2013-01-01            36779
10  2014-01-01            56972
11  2015-01-01            80099
12  2016-01-01            95384
13  2017-01-01           100903
14  2018-01-01           142424
15  2019-01-01           152025
16  2020-01-01            93017
17  2021-01-01            13994

In [19]:
data.to_csv("/Users/o/Desktop/acik-veri-calismalari/komek-kayit-sayilari-temiz/komek-kayit-sayilari.csv" , index=False ,header=True)
data.to_excel("/Users/o/Desktop/acik-veri-calismalari/komek-kayit-sayilari-temiz/komek-kayit-sayilari.xlsx" , index=False ,header=True)