In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("sehir-tiyatrosu-2018.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   _id              18 non-null     int64
 1   tarih            18 non-null     object
 2   gun              18 non-null     object
 3   saat             18 non-null     float64
 4   oyun             18 non-null     object
 5   doluluk_orani    18 non-null     object
 6   izleyici_sayisi  18 non-null     int64
dtypes: float64(1), int64(2), object(4)
memory usage: 1.1+ KB

In [4]:
data.head()

,_id,tarih,gun,saat,oyun,doluluk_orani,izleyici_sayisi
0,1,24.10.2018,Salı,20.0,Abdülhamid Ateş Çemberi,100%,751
1,2,23.10.2018,Çarşamba,20.0,Abdülhamid Ateş Çemberi,96%,745
2,3,29.10.2018,Pazartesi,20.0,Asım Bir Varoluş Mücadelesi,98%,748
3,4,30.10.2018,Salı,20.0,Asım Bir Varoluş Mücadelesi,76%,590
4,5,05.11.2018,Pazartesi,20.0,Bir Yunus Hikayesi,89%,675

In [5]:
data.drop(columns="_id", axis=0, inplace=True)
data.drop(columns="gun", axis=0, inplace=True)

In [6]:
data.head()

,tarih,saat,oyun,doluluk_orani,izleyici_sayisi
0,24.10.2018,20.0,Abdülhamid Ateş Çemberi,100%,751
1,23.10.2018,20.0,Abdülhamid Ateş Çemberi,96%,745
2,29.10.2018,20.0,Asım Bir Varoluş Mücadelesi,98%,748
3,30.10.2018,20.0,Asım Bir Varoluş Mücadelesi,76%,590
4,05.11.2018,20.0,Bir Yunus Hikayesi,89%,675

In [7]:
data["tarih"][0]

'24.10.2018'

In [8]:
data["tarih"] = data["tarih"].astype(str).str.replace(".","-")

/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_2669/1236205676.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["tarih"] = data["tarih"].astype(str).str.replace(".","-")

In [9]:
data[["gun", "ay", "yıl"]] = data["tarih"].astype(str).str.split("-", expand=True)

In [10]:
data

,tarih,saat,oyun,doluluk_orani,izleyici_sayisi,gun,ay,yıl
0,24-10-2018,20.0,Abdülhamid Ateş Çemberi,100%,751,24,10,2018
1,23-10-2018,20.0,Abdülhamid Ateş Çemberi,96%,745,23,10,2018
2,29-10-2018,20.0,Asım Bir Varoluş Mücadelesi,98%,748,29,10,2018
3,30-10-2018,20.0,Asım Bir Varoluş Mücadelesi,76%,590,30,10,2018
4,05-11-2018,20.0,Bir Yunus Hikayesi,89%,675,05,11,2018
5,06-11-2018,20.0,Bir Yunus Hikayesi,61%,469,06,11,2018
6,12-11-2018,20.0,Abdülhamid Ateş Çemberi,100%,769,12,11,2018
7,19-11-2018,20.0,Asım Bir Varoluş Mücadelesi,43%,331,19,11,2018
8,20-11-2018,20.0,Asım Bir Varoluş Mücadelesi,58%,437,20,11,2018
9,27-11-2018,19.3,Bir Yunus Hikayesi,57%,432,27,11,2018
10,28-11-2018,20.0,Bir Yunus Hikayesi,51%,389,28,11,2018
11,03-12-2018,20.0,Abdülhamid Ateş Çemberi,100%,752,03,12,2018
12,04-12-2018,20.0,Abdülhamid Ateş Çemberi,100%,759,04,12,2018
13,10-12-2018,20.0,Asım Bir Varoluş Mücadelesi,64%,488,10,12,2018
14,11-12-2018,20.0,Asım Bir Varoluş Mücadelesi,72%,544,11,12,2018
15,24-12-2018,20.0,Bir Yunus Hikayesi,58%,438,24,12,2018
16,25-12-2018,20.0,Bir Yunus Hikayesi,49%,374,25,12,2018
17,27-12- 2018,19.3,Asım Bir Varoluş Mücadelesi,98%,746,27,12,2018

In [11]:
data["tarih"] = data["ay"]+"-"+data["gun"]+ "-" +data["yıl"]

In [12]:
data.drop(columns="gun", axis=0, inplace=True)
data.drop(columns="ay", axis=0, inplace=True)
data.drop(columns="yıl", axis=0, inplace=True)

In [13]:
data["tarih"][17]=data["tarih"][17].replace(" ", "")

/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_2669/507773882.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["tarih"][17]=data["tarih"][17].replace(" ", "")

In [14]:
data["tarih"] = pd.to_datetime(data["tarih"], format="%m-%d-%Y")

In [15]:
data["saat"] = pd.to_timedelta(data["saat"], unit='h')

In [16]:
data["tarih"] = data["tarih"] + data["saat"]

In [17]:
data.drop(columns="saat", axis=0, inplace=True)

In [18]:
data.rename(columns={"tarih" : "tarih_saat"}, inplace=True)
data.rename(columns={"oyun" : "oyun_adi"}, inplace=True)

In [19]:
data.head()

,tarih_saat,oyun_adi,doluluk_orani,izleyici_sayisi
0,2018-10-24 20:00:00,Abdülhamid Ateş Çemberi,100%,751
1,2018-10-23 20:00:00,Abdülhamid Ateş Çemberi,96%,745
2,2018-10-29 20:00:00,Asım Bir Varoluş Mücadelesi,98%,748
3,2018-10-30 20:00:00,Asım Bir Varoluş Mücadelesi,76%,590
4,2018-11-05 20:00:00,Bir Yunus Hikayesi,89%,675

In [20]:
data.to_csv("/Users/o/Desktop/staj/zor veriler/sehir-tiyatrosu/konya-sehir-tiyatrosu-verileri-2018.csv")
data.to_excel("/Users/o/Desktop/staj/zor veriler/sehir-tiyatrosu/konya-sehir-tiyatrosu-verileri-2018.xlsx")