In [105]:
import pandas as pd
import numpy as np

In [106]:
pd.options.display.max_rows = None

In [107]:
data = pd.read_csv("aykome-kazi-ruhsat-veriler-temizlenmemis.csv")

In [108]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   _id            156 non-null    int64
 1   donem          156 non-null    object
 2   ruhsat_sayisi  156 non-null    int64
dtypes: int64(2), object(1)
memory usage: 3.8+ KB

In [109]:
data.head()

   _id                donem  ruhsat_sayisi
0    1  2008-04-01T00:00:00            241
1    2  2009-01-01T00:00:00            285
2    3  2009-05-01T00:00:00            649
3    4  2012-01-01T00:00:00             51
4    5  2009-10-01T00:00:00            476

In [110]:
data.drop(columns= "_id", axis=0, inplace=True)

In [111]:
data["donem"] = pd.to_datetime(data["donem"])

In [112]:
data.sort_values(by="donem", inplace=True)

In [113]:
data.rename(columns={"donem" : "baslangic_tarihi"}, inplace=True)

In [114]:
data.reset_index(drop=True, inplace=True)

In [115]:
data["baslangic_tarihi"] = data["baslangic_tarihi"].astype(str)

In [116]:
type(data["baslangic_tarihi"][0])

str

In [117]:
data["bitis_tarihi"] = data["baslangic_tarihi"].copy()

In [118]:
for index in range(0,156):
    if data["bitis_tarihi"][index][5:7] == "01":
        data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "31"
    elif data["bitis_tarihi"][index][5:7] == "03":
        data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "31"
    elif data["bitis_tarihi"][index][5:7] == "04":
        data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "30"
    elif data["bitis_tarihi"][index][5:7] == "05":
        data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "31"
    elif data["bitis_tarihi"][index][5:7] == "06":
        data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "30"
    elif data["bitis_tarihi"][index][5:7] == "07":
        data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "31"
    elif data["bitis_tarihi"][index][5:7] == "08":
        data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "31"
    elif data["bitis_tarihi"][index][5:7] == "09":
        data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "30"
    elif data["bitis_tarihi"][index][5:7] == "10":
        data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "31"
    elif data["bitis_tarihi"][index][5:7] == "11":
        data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "30"
    elif data["bitis_tarihi"][index][5:7] == "12":
        data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "31"
    elif data["bitis_tarihi"][index][5:7] == "02":
        if data["bitis_tarihi"][index][:4] == "2008":
            data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "29"
        elif data["bitis_tarihi"][index][:4] == "2009":
            data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "28"
        elif data["bitis_tarihi"][index][:4] == "2010":
            data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "28"
        elif data["bitis_tarihi"][index][:4] == "2011":
            data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "28"
        elif data["bitis_tarihi"][index][:4] == "2012":
            data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "29"
        elif data["bitis_tarihi"][index][:4] == "2013":
            data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "28"
        elif data["bitis_tarihi"][index][:4] == "2014":
            data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "28"
        elif data["bitis_tarihi"][index][:4] == "2015":
            data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "28"
        elif data["bitis_tarihi"][index][:4] == "2016":
            data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "29"
        elif data["bitis_tarihi"][index][:4] == "2017":
            data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "28"
        elif data["bitis_tarihi"][index][:4] == "2018":
            data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "28"
        elif data["bitis_tarihi"][index][:4] == "2019":
            data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "28"
        elif data["bitis_tarihi"][index][:4] == "2020":
            data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "29"
        elif data["bitis_tarihi"][index][:4] == "2021":
            data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "28"

/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_47204/2218044662.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "30"
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_47204/2218044662.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "31"
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_47204/2218044662.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "30"
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_47204/2218044662.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "31"
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_47204/2218044662.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "31"
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_47204/2218044662.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "30"
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_47204/2218044662.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "31"
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_47204/2218044662.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "30"
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_47204/2218044662.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "31"
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_47204/2218044662.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "31"
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_47204/2218044662.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "28"
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_47204/2218044662.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "31"
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_47204/2218044662.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "28"
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_47204/2218044662.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "28"
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_47204/2218044662.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "29"
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_47204/2218044662.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "28"
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_47204/2218044662.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "28"
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_47204/2218044662.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "28"
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_47204/2218044662.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "29"
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_47204/2218044662.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "28"
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_47204/2218044662.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "28"
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_47204/2218044662.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "28"
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_47204/2218044662.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "29"
/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_47204/2218044662.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bitis_tarihi"][index] = data["bitis_tarihi"][index][:8] + "28"

In [119]:
yeni_sutunlar = ["baslangic_tarihi", "bitis_tarihi", "ruhsat_sayisi"]

In [120]:
data = data[yeni_sutunlar]

In [121]:
data["baslangic_tarihi"] = pd.to_datetime(data["baslangic_tarihi"], format = "%Y-%m-%d")

In [122]:
data["bitis_tarihi"] = pd.to_datetime(data["bitis_tarihi"], format = "%Y-%m-%d")

In [123]:
data

    baslangic_tarihi bitis_tarihi  ruhsat_sayisi
0         2008-04-01   2008-04-30            241
1         2008-05-01   2008-05-31            519
2         2008-06-01   2008-06-30            638
3         2008-07-01   2008-07-31            685
4         2008-08-01   2008-08-31            400
5         2008-09-01   2008-09-30            487
6         2008-10-01   2008-10-31            505
7         2008-11-01   2008-11-30            222
8         2008-12-01   2008-12-31             56
9         2009-01-01   2009-01-31            285
10        2009-02-01   2009-02-28            411
11        2009-03-01   2009-03-31            361
12        2009-04-01   2009-04-30            842
13        2009-05-01   2009-05-31            649
14        2009-06-01   2009-06-30            602
15        2009-07-01   2009-07-31            531
16        2009-08-01   2009-08-31            558
17        2009-09-01   2009-09-30            130
18        2009-10-01   2009-10-31            476
19        2009-11-01   2009-11-30            263
20        2009-12-01   2009-12-31             85
21        2010-01-01   2010-01-31            141
22        2010-02-01   2010-02-28            145
23        2010-03-01   2010-03-31            595
24        2010-04-01   2010-04-30            522
25        2010-05-01   2010-05-31            608
26        2010-06-01   2010-06-30            559
27        2010-07-01   2010-07-31            403
28        2010-08-01   2010-08-31            384
29        2010-09-01   2010-09-30            291
30        2010-10-01   2010-10-31            318
31        2010-11-01   2010-11-30            375
32        2010-12-01   2010-12-31            131
33        2011-01-01   2011-01-31            122
34        2011-02-01   2011-02-28            178
35        2011-03-01   2011-03-31            496
36        2011-04-01   2011-04-30            508
37        2011-05-01   2011-05-31            549
38        2011-06-01   2011-06-30            509
39        2011-07-01   2011-07-31            361
40        2011-08-01   2011-08-31            437
41        2011-09-01   2011-09-30            225
42        2011-10-01   2011-10-31            443
43        2011-11-01   2011-11-30            660
44        2011-12-01   2011-12-31             97
45        2012-01-01   2012-01-31             51
46        2012-02-01   2012-02-29             38
47        2012-03-01   2012-03-31            214
48        2012-04-01   2012-04-30            672
49        2012-05-01   2012-05-31            591
50        2012-06-01   2012-06-30            508
51        2012-07-01   2012-07-31            428
52        2012-08-01   2012-08-31            227
53        2012-09-01   2012-09-30            433
54        2012-10-01   2012-10-31            536
55        2012-11-01   2012-11-30            437
56        2012-12-01   2012-12-31             94
57        2013-01-01   2013-01-31             51
58        2013-02-01   2013-02-28            109
59        2013-03-01   2013-03-31            416
60        2013-04-01   2013-04-30            502
61        2013-05-01   2013-05-31            531
62        2013-06-01   2013-06-30            532
63        2013-07-01   2013-07-31            359
64        2013-08-01   2013-08-31            229
65        2013-09-01   2013-09-30            396
66        2013-10-01   2013-10-31            272
67        2013-11-01   2013-11-30            602
68        2013-12-01   2013-12-31            283
69        2014-01-01   2014-01-31             60
70        2014-02-01   2014-02-28            162
71        2014-03-01   2014-03-31            361
72        2014-04-01   2014-04-30            468
73        2014-05-01   2014-05-31            566
74        2014-06-01   2014-06-30            398
75        2014-07-01   2014-07-31            251
76        2014-08-01   2014-08-31            276
77        2014-09-01   2014-09-30            355
78        2014-10-01   2014-10-31            173
79        2014-11-01   2014-11-30            509
80        2014-12-01   2014-12-31            278
81        2015-01-01   2015-01-31             31
82        2015-02-01   2015-02-28             78
83        2015-03-01   2015-03-31            311
84        2015-04-01   2015-04-30            692
85        2015-05-01   2015-05-31            563
86        2015-06-01   2015-06-30            452
87        2015-07-01   2015-07-31            456
88        2015-08-01   2015-08-31            435
89        2015-09-01   2015-09-30            335
90        2015-10-01   2015-10-31            519
91        2015-11-01   2015-11-30            832
92        2015-12-01   2015-12-31            141
93        2016-01-01   2016-01-31              4
94        2016-02-01   2016-02-29            120
95        2016-03-01   2016-03-31            528
96        2016-04-01   2016-04-30            584
97        2016-05-01   2016-05-31            680
98        2016-06-01   2016-06-30            430
99        2016-07-01   2016-07-31            359
100       2016-08-01   2016-08-31            450
101       2016-09-01   2016-09-30            325
102       2016-10-01   2016-10-31            491
103       2016-11-01   2016-11-30            426
104       2016-12-01   2016-12-31             66
105       2017-01-01   2017-01-31             21
106       2017-02-01   2017-02-28             60
107       2017-03-01   2017-03-31            416
108       2017-04-01   2017-04-30            705
109       2017-05-01   2017-05-31            766
110       2017-06-01   2017-06-30            689
111       2017-07-01   2017-07-31            757
112       2017-08-01   2017-08-31            705
113       2017-09-01   2017-09-30            529
114       2017-10-01   2017-10-31            775
115       2017-11-01   2017-11-30            524
116       2017-12-01   2017-12-31            153
117       2018-01-01   2018-01-31            116
118       2018-02-01   2018-02-28            219
119       2018-03-01   2018-03-31            707
120       2018-04-01   2018-04-30            838
121       2018-05-01   2018-05-31            874
122       2018-06-01   2018-06-30            670
123       2018-07-01   2018-07-31           1147
124       2018-08-01   2018-08-31           1175
125       2018-09-01   2018-09-30           1473
126       2018-10-01   2018-10-31           1309
127       2018-11-01   2018-11-30           1017
128       2018-12-01   2018-12-31            114
129       2019-01-01   2019-01-31            137
130       2019-02-01   2019-02-28            182
131       2019-03-01   2019-03-31            858
132       2019-04-01   2019-04-30           2452
133       2019-05-01   2019-05-31           2025
134       2019-06-01   2019-06-30           1412
135       2019-07-01   2019-07-31           2209
136       2019-08-01   2019-08-31           1851
137       2019-09-01   2019-09-30           1922
138       2019-10-01   2019-10-31           1759
139       2019-11-01   2019-11-30           1489
140       2019-12-01   2019-12-31            449
141       2020-01-01   2020-01-31            248
142       2020-02-01   2020-02-29            317
143       2020-03-01   2020-03-31           1049
144       2020-04-01   2020-04-30           1226
145       2020-05-01   2020-05-31            961
146       2020-06-01   2020-06-30           2329
147       2020-07-01   2020-07-31           2043
148       2020-08-01   2020-08-31           2303
149       2020-09-01   2020-09-30           2280
150       2020-10-01   2020-10-31           2917
151       2020-11-01   2020-11-30           2454
152       2020-12-01   2020-12-31            605
153       2021-01-01   2021-01-31             96
154       2021-02-01   2021-02-28            340
155       2021-03-01   2021-03-31            147

In [124]:
data.to_csv("/Users/o/Desktop/acik-veri-calismalari/aykome-kazi-ruhsat/aykome-kazi-ruhsat-sayilari.csv", index=False, header=True)
data.to_excel("/Users/o/Desktop/acik-veri-calismalari/aykome-kazi-ruhsat/aykome-kazi-ruhsat-sayilari.xlsx",index=False, header=True)