In [52]:
import pandas as pd
import numpy as np

In [53]:
pd.options.display.max_rows = None

In [54]:
data = pd.read_csv("aykome-kazi-ruhsat-veriler-temizlenmemis.csv")

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   _id            156 non-null    int64
 1   donem          156 non-null    object
 2   ruhsat_sayisi  156 non-null    int64
dtypes: int64(2), object(1)
memory usage: 3.8+ KB

In [56]:
data.head()

   _id                donem  ruhsat_sayisi
0    1  2008-04-01T00:00:00            241
1    2  2009-01-01T00:00:00            285
2    3  2009-05-01T00:00:00            649
3    4  2012-01-01T00:00:00             51
4    5  2009-10-01T00:00:00            476

In [57]:
data.drop(columns= "_id", axis=0, inplace=True)

In [58]:
data["donem"] = pd.to_datetime(data["donem"])

In [59]:
data.sort_values(by="donem", inplace=True)

In [60]:
data.reset_index(drop=True, inplace=True)

In [61]:
data[["yil", "ay", "gun"]] = data["donem"].astype(str).str.split("-", expand=True)

In [62]:
data.drop(columns={"donem", "gun"}, inplace=True)

In [63]:
yeni_sutunlar = ["yil", "ay", "ruhsat_sayisi"]

In [64]:
data.head(50)

    ruhsat_sayisi   yil  ay
0             241  2008  04
1             519  2008  05
2             638  2008  06
3             685  2008  07
4             400  2008  08
5             487  2008  09
6             505  2008  10
7             222  2008  11
8              56  2008  12
9             285  2009  01
10            411  2009  02
11            361  2009  03
12            842  2009  04
13            649  2009  05
14            602  2009  06
15            531  2009  07
16            558  2009  08
17            130  2009  09
18            476  2009  10
19            263  2009  11
20             85  2009  12
21            141  2010  01
22            145  2010  02
23            595  2010  03
24            522  2010  04
25            608  2010  05
26            559  2010  06
27            403  2010  07
28            384  2010  08
29            291  2010  09
30            318  2010  10
31            375  2010  11
32            131  2010  12
33            122  2011  01
34            178  2011  02
35            496  2011  03
36            508  2011  04
37            549  2011  05
38            509  2011  06
39            361  2011  07
40            437  2011  08
41            225  2011  09
42            443  2011  10
43            660  2011  11
44             97  2011  12
45             51  2012  01
46             38  2012  02
47            214  2012  03
48            672  2012  04
49            591  2012  05

In [65]:
data = data[yeni_sutunlar]

In [66]:
data["ay"] = data["ay"].replace({
    '01' : 'ocak',
    '02' : 'subat',
    '03' : 'mart',
    '04' : 'nisan',
    '05' : 'mayis',
    '06' : 'haziran',
    '07' : 'temmuz',
    '08' : 'agustos',
    '09' : 'eylul',
    '10' : 'ekim',
    '11' : 'kasim',
    '12' : 'aralik'
})

In [67]:
data["yil"] = data["yil"].astype(int)

In [68]:
data["ay"] = data["ay"].astype(str)

In [69]:
type(data["yil"][0])

numpy.int64

In [70]:
type(data["ay"][0])

str

In [71]:
type(data["ruhsat_sayisi"][0])

numpy.int64

In [72]:
veri2008 = data[data["yil"] == 2008]
veri2009 = data[data["yil"] == 2009]
veri2010 = data[data["yil"] == 2010]
veri2011 = data[data["yil"] == 2011]
veri2012 = data[data["yil"] == 2012]

In [73]:
veri2008

    yil       ay  ruhsat_sayisi
0  2008    nisan            241
1  2008    mayis            519
2  2008  haziran            638
3  2008   temmuz            685
4  2008  agustos            400
5  2008    eylul            487
6  2008     ekim            505
7  2008    kasim            222
8  2008   aralik             56

In [74]:
veri2009.reset_index(drop=True, inplace=True)
veri2010.reset_index(drop=True, inplace=True)
veri2011.reset_index(drop=True, inplace=True)
veri2012.reset_index(drop=True, inplace=True)
veri2008.reset_index(drop=True, inplace=True)

In [75]:
veri2008.to_csv("/Users/o/Desktop/acik-veri-calismalari/aykome-kazi-ruhsat/2008-aykome-kazi-ruhsat-sayilari.csv", index=False, header=True)
veri2008.to_excel("/Users/o/Desktop/acik-veri-calismalari/aykome-kazi-ruhsat/2008-aykome-kazi-ruhsat-sayilari.xlsx",index=False, header=True)

In [76]:
veri2009.to_csv("/Users/o/Desktop/acik-veri-calismalari/aykome-kazi-ruhsat/2009-aykome-kazi-ruhsat-sayilari.csv", index=False, header=True)
veri2009.to_excel("/Users/o/Desktop/acik-veri-calismalari/aykome-kazi-ruhsat/2009-aykome-kazi-ruhsat-sayilari.xlsx",index=False, header=True)

In [77]:
veri2010.to_csv("/Users/o/Desktop/acik-veri-calismalari/aykome-kazi-ruhsat/2010-aykome-kazi-ruhsat-sayilari.csv", index=False, header=True)
veri2010.to_excel("/Users/o/Desktop/acik-veri-calismalari/aykome-kazi-ruhsat/2010-aykome-kazi-ruhsat-sayilari.xlsx",index=False, header=True)

In [78]:
veri2011.to_csv("/Users/o/Desktop/acik-veri-calismalari/aykome-kazi-ruhsat/2011-aykome-kazi-ruhsat-sayilari.csv", index=False, header=True)
veri2011.to_excel("/Users/o/Desktop/acik-veri-calismalari/aykome-kazi-ruhsat/2011-aykome-kazi-ruhsat-sayilari.xlsx",index=False, header=True)

In [79]:
veri2012.to_csv("/Users/o/Desktop/acik-veri-calismalari/aykome-kazi-ruhsat/2012-aykome-kazi-ruhsat-sayilari.csv", index=False, header=True)
veri2012.to_excel("/Users/o/Desktop/acik-veri-calismalari/aykome-kazi-ruhsat/2012-aykome-kazi-ruhsat-sayilari.xlsx",index=False, header=True)