In [13]:
import numpy as np
import pandas as pd

In [14]:
data = pd.read_csv("atik-su-temizlenmemis-veri.csv")

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _id     41 non-null     int64
 1   tarih   41 non-null     object
 2   deger   41 non-null     object
 3   birim   41 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.4+ KB

In [16]:
data.head()

   _id                tarih       deger birim
0    1  2015-01-31T00:00:00  611.232,00   KWH
1    2  2015-02-28T00:00:00  615.826,00   KWH
2    3  2015-03-31T00:00:00  957.527,00   KWH
3    4  2015-04-30T00:00:00  920.036,54   KWH
4    5  2015-05-31T00:00:00  928.773,29   KWH

In [17]:
data = data.drop(columns="_id", axis=0)

In [18]:
data.rename(columns={"deger" : "Değer(kwh)"}, inplace=True)

In [19]:
data = data.drop(columns="birim", axis=0)

In [20]:
data['Tarih'] = pd.to_datetime(data['tarih'].astype(str), format='%Y-%m-%d')

In [21]:
data = data.drop(columns="tarih", axis=0)

In [22]:
data["Değer(kwh)"] = data["Değer(kwh)"].astype(str).str.replace(".", "")

/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_37645/534994664.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["Değer(kwh)"] = data["Değer(kwh)"].astype(str).str.replace(".", "")

In [23]:
data.head()

  Değer(kwh)      Tarih
0  611232,00 2015-01-31
1  615826,00 2015-02-28
2  957527,00 2015-03-31
3  920036,54 2015-04-30
4  928773,29 2015-05-31

In [24]:
data.to_csv("/Users/o/Desktop/staj/kolay veriler/atik-su/atik-su-aritma-tesisinde-uretilen-elektrik-enerjisi-miktari.csv")
data.to_excel("/Users/o/Desktop/staj/kolay veriler/atik-su/atik-su-aritma-tesisinde-uretilen-elektrik-enerjisi-miktari.xlsx")