In [10]:
import pandas as pd
import numpy as np

In [11]:
data = pd.read_csv("meram.csv")

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1856 entries, 0 to 1855
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _id     1856 non-null   int64
 1   tarih   1856 non-null   object
 2   deger   1856 non-null   float64
 3   birim   1856 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 58.1+ KB

In [13]:
data.head(10)

   _id                tarih      deger birim
0    1  2004-12-31T00:00:00      0.000   Ton
1    2  2005-12-31T00:00:00     55.797   Ton
2    3  2006-12-31T00:00:00    101.090   Ton
3    4  2007-12-31T00:00:00    102.615   Ton
4    5  2008-12-31T00:00:00    103.862   Ton
5    6  2009-12-31T00:00:00    108.580   Ton
6    7  2010-12-31T00:00:00    106.713   Ton
7    8  2011-12-31T00:00:00    112.666   Ton
8    9  2012-12-31T00:00:00    117.271   Ton
9   10  2013-01-01T00:00:00  44215.000   Ton

In [14]:
data.drop(columns="_id", axis=0, inplace=True)
data.drop(columns="birim", axis=0, inplace=True)

In [15]:
data.rename(columns={"deger" : "değer (ton)"}, inplace=True)

In [16]:
data["değer (ton)"] = data["değer (ton)"].astype(str).str.replace(".",",")

/var/folders/jh/d35s6brj6td3270jfy770tjc0000gn/T/ipykernel_44059/2628444247.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["değer (ton)"] = data["değer (ton)"].astype(str).str.replace(".",",")

In [17]:
data['tarih']=pd.to_datetime(data['tarih'], format='%Y-%m-%d')

In [18]:
data.head()

       tarih değer (ton)
0 2004-12-31         0,0
1 2005-12-31      55,797
2 2006-12-31      101,09
3 2007-12-31     102,615
4 2008-12-31     103,862

In [19]:
data.to_csv("/Users/o/Desktop/staj/kolay veriler/ilce-kati-atik/toplanan-kati-atik-miktari-meram.csv")
data.to_excel("/Users/o/Desktop/staj/kolay veriler/ilce-kati-atik/toplanan-kati-atik-miktari-meram.xlsx")