In [10]:
import pandas as pd
import numpy as np

In [11]:
data = pd.read_csv("2020verisi.csv")

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7759 entries, 0 to 7758
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   _id                         7759 non-null   int64
 1   tarih                       7759 non-null   object
 2   saat                        7759 non-null   int64
 3   yukleme_adedi               7759 non-null   int64
 4   yukleme_yapilan_kart_adedi  7759 non-null   int64
dtypes: int64(4), object(1)
memory usage: 303.2+ KB

In [13]:
data.head(10)

   _id                tarih  saat  yukleme_adedi  yukleme_yapilan_kart_adedi
0    1  2020-01-01T00:00:00     0             75                          75
1    2  2020-01-01T00:00:00     1             13                          13
2    3  2020-01-01T00:00:00     2              4                           4
3    4  2020-01-01T00:00:00     3              2                           2
4    5  2020-01-01T00:00:00     5              3                           3
5    6  2020-01-01T00:00:00     6             31                          30
6    7  2020-01-01T00:00:00     7            587                         582
7    8  2020-01-01T00:00:00     8            790                         781
8    9  2020-01-01T00:00:00     9            846                         827
9   10  2020-01-01T00:00:00    10           1186                        1174

In [14]:
data.drop(columns="_id", axis=0, inplace=True)

In [15]:
data["tarih"] = pd.to_datetime(data["tarih"], format="%Y-%m-%d")

In [16]:
data["saat"] = pd.to_timedelta(data['saat'], unit='h')

In [17]:
data["saat"] = data["saat"].astype(str).str.replace("0 days ", "")

In [18]:
data.head()

       tarih      saat  yukleme_adedi  yukleme_yapilan_kart_adedi
0 2020-01-01  00:00:00             75                          75
1 2020-01-01  01:00:00             13                          13
2 2020-01-01  02:00:00              4                           4
3 2020-01-01  03:00:00              2                           2
4 2020-01-01  05:00:00              3                           3

In [19]:
data.to_csv("/Users/o/Desktop/staj/orta seviye veriler/elkart-toplam-yukleme-sayilari/elkart-toplam-yukleme-sayilari2020.csv")
data.to_excel("/Users/o/Desktop/staj/orta seviye veriler/elkart-toplam-yukleme-sayilari/elkart-toplam-yukleme-sayilari2020.xlsx")