In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("2019verisi.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8506 entries, 0 to 8505
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   _id                         8506 non-null   int64
 1   tarih                       8506 non-null   object
 2   saat                        8506 non-null   int64
 3   yukleme_adedi               8506 non-null   int64
 4   yukleme_yapilan_kart_adedi  8506 non-null   int64
dtypes: int64(4), object(1)
memory usage: 332.4+ KB

In [4]:
data.head(10)

   _id                tarih  saat  yukleme_adedi  yukleme_yapilan_kart_adedi
0    1  2019-01-01T00:00:00     0             67                          65
1    2  2019-01-01T00:00:00     1             10                           9
2    3  2019-01-01T00:00:00     2              1                           1
3    4  2019-01-01T00:00:00     3              3                           3
4    5  2019-01-01T00:00:00     4              1                           1
5    6  2019-01-01T00:00:00     5              6                           6
6    7  2019-01-01T00:00:00     6             28                          28
7    8  2019-01-01T00:00:00     7            493                         488
8    9  2019-01-01T00:00:00     8            676                         670
9   10  2019-01-01T00:00:00     9            776                         766

In [5]:
data.drop(columns="_id", axis=0, inplace=True)

In [6]:
data["tarih"] = pd.to_datetime(data["tarih"], format="%Y-%m-%d")

In [7]:
data["saat"] = pd.to_timedelta(data['saat'], unit='h')

In [8]:
data["saat"] = data["saat"].astype(str).str.replace("0 days ", "")

In [9]:
data.head()

       tarih      saat  yukleme_adedi  yukleme_yapilan_kart_adedi
0 2019-01-01  00:00:00             67                          65
1 2019-01-01  01:00:00             10                           9
2 2019-01-01  02:00:00              1                           1
3 2019-01-01  03:00:00              3                           3
4 2019-01-01  04:00:00              1                           1

In [10]:
data.to_csv("/Users/o/Desktop/staj/orta seviye veriler/elkart-toplam-yukleme-sayilari/elkart-toplam-yukleme-sayilari2019.csv")
data.to_excel("/Users/o/Desktop/staj/orta seviye veriler/elkart-toplam-yukleme-sayilari/elkart-toplam-yukleme-sayilari2019.xlsx")