In [11]:
import pandas as pd
import numpy as np

In [12]:
data = pd.read_csv("2021verisi.csv")

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3536 entries, 0 to 3535
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   _id                         3536 non-null   int64
 1   tarih                       3536 non-null   object
 2   saat                        3536 non-null   int64
 3   yukleme_adedi               3536 non-null   int64
 4   yukleme_yapilan_kart_adedi  3536 non-null   int64
dtypes: int64(4), object(1)
memory usage: 138.3+ KB

In [14]:
data.head(10)

   _id                tarih  saat  yukleme_adedi  yukleme_yapilan_kart_adedi
0    1  2021-01-01T00:00:00     0              2                           2
1    2  2021-01-01T00:00:00     1              1                           1
2    3  2021-01-01T00:00:00     4              1                           1
3    4  2021-01-01T00:00:00     7             27                          27
4    5  2021-01-01T00:00:00     8             19                          19
5    6  2021-01-01T00:00:00     9             24                          23
6    7  2021-01-01T00:00:00    10             52                          51
7    8  2021-01-01T00:00:00    11             56                          56
8    9  2021-01-01T00:00:00    12             38                          38
9   10  2021-01-01T00:00:00    13            132                         128

In [15]:
data.drop(columns="_id", axis=0, inplace=True)

In [16]:
data["tarih"] = pd.to_datetime(data["tarih"], format="%Y-%m-%d")

In [17]:
data["saat"] = pd.to_timedelta(data['saat'], unit='h')

In [18]:
data["saat"] = data["saat"].astype(str).str.replace("0 days ", "")

In [19]:
data.head()

       tarih      saat  yukleme_adedi  yukleme_yapilan_kart_adedi
0 2021-01-01  00:00:00              2                           2
1 2021-01-01  01:00:00              1                           1
2 2021-01-01  04:00:00              1                           1
3 2021-01-01  07:00:00             27                          27
4 2021-01-01  08:00:00             19                          19

In [20]:
data.to_csv("/Users/o/Desktop/staj/orta seviye veriler/elkart-toplam-yukleme-sayilari/elkart-toplam-yukleme-sayilari2021.csv")
data.to_excel("/Users/o/Desktop/staj/orta seviye veriler/elkart-toplam-yukleme-sayilari/elkart-toplam-yukleme-sayilari2021.xlsx")